<p>
  employee-education-create works!
</p>

<h3>Create EmployeeEducation</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group">
      <label for="name">Institute Name</label>
      <input type="text" class="form-control" id="institutename" required [(ngModel)]="employeeEducation.instituteName" name="institutename">
    </div>
    <div class="form-group">
      <label for="name">University Name</label>
      <input type="text" class="form-control" id="universityname" required [(ngModel)]="employeeEducation.universityName" name="universityname">
    </div>

    <div class="form-group">
      <label for="name">BeginDate</label>
      <input type="date" class="form-control" id="begindate" required [(ngModel)]="employeeEducation.beginDate" name="begindate">
    </div>

    <div class="form-group">
      <label for="name">EndDate</label>
      <input type="date" class="form-control" id="enddate" required [(ngModel)]="employeeEducation.endDate" name="enddate">
    </div>
    <div class="form-group">
      <label for="name">AdditionalCertifications</label>
      <input type="text" class="form-control" id="additionalcertifications" required [(ngModel)]="employeeEducation.additionalCertifications" name="additionalcertifications">
    </div>
    <div class="form-group">
      <label for="name">Cgpa</label>
      <input type="number" class="form-control" id="cgpa" required [(ngModel)]="employeeEducation.cgpa" name="cgpa">
    </div>

    <div class="form-group">
      <label for="educationBoard">EducationBoard</label>
      <select id="employeeEducation"  name="employeeEducation" [(ngModel)]="employeeEducation.educationBoard" class="form-control">
          <option select id="Choose..." name="Choose..." class="input-medium" disabled="disabled">Choose...</option>
          <option value="1">STATEBOARD</option>
          <option value="2">Cbse</option>
         
        </select>   
    </div>
    <div class="form-group">
      <label for="employeeEducation">EducationType</label>
      <select id="employeeEducation"  name="employeeEducation" [(ngModel)]="employeeEducation.educationTypecode" class="form-control">
          <option select id="Choose..." name="Choose..." class="input-medium" disabled="disabled">Choose...</option>
          <option value="1">sslc</option>
          <option value="2">hsc</option>
          <option value="3">ug</option>
          <option value="4">pg</option>
         
        </select>    
    </div>

    

   
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  
  

