<div class="panel panel-primary">
    <table id="example" class="display" style="width:100%"></table>
      <div class="panel-heading">
        <h2>MOBILE INFO LIST</h2>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th> employee communication code</th>
              <th> mobile communication code</th>
              <th>Mobilenumber 1</th>
              <th>Mobilenumber 2</th>
              
              
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of mobileinfo | async">
              <td>{{data.communicationDetail}}</td>
              <td>{{data.code}}</td>
              <td>{{data.mobileNumber1}}</td>
              <td>{{data.moblieNumber2}}</td>
              
              
             
              
              <td>
                  <button (click)="  getMobileinfo(mobileinfo.code)" class="btn btn-info" style="margin-left: 10px">Update</button>
                  
                  <button (click)="employeeDetails(mobileinfo.code)" class="btn btn-info" style="margin-left: 10px">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  
