<h2>EMPLOYEE DETAILS</h2> 

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>FIRST NAME: </b></label> {{employee.firstName}}
  </div>
  <div>
    <label><b>LAST NAME: </b></label> {{employee.lastName}}
  </div>
  <div>
    <label><b>MARITAL STATUS: </b></label> {{employee.maritalstatus}}
  </div>  
  <div>
    <label><b>MARRAGE DATE: </b></label> {{employee.marriagedate}}
  </div>  
  <div>
    <label><b>DATE OF BIRTH: </b></label> {{employee.dateofBirth}}
  </div>  
  <div>
    <label><b>NATIONALITY: </b></label> {{employee.nationality}}
  </div>  
  <div>
    <label><b>COUNTRY OF BIRTH: </b></label> {{employee.countryofbirth}}
  </div>  
  <div>
    <label><b>STATE OF BIRTH: </b></label> {{employee.stateofbirth}}
  </div>  
  <div>
    <label><b>CITIZEN: </b></label> {{employee.citizen}}
  </div> 
  <div>
    <label><b>GENDER: </b></label> {{employee.gender}}
  </div>  
</div>
<br>
<br>
<button (click)="list()" class="btn btn-secondary">BACK TO EMPLOYEE PAGE</button><br>
