<h2>Employee Details</h2> 

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>First Name: </b></label> {{employee.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{employee.lastName}}
  </div>
  <div>
    <label><b>Marital Status: </b></label> {{employee.maritalstatus}}
  </div>  
  <div>
    <label><b>Marriage Date: </b></label> {{employee.marriagedate}}
  </div>  
  <div>
    <label><b>DateOfBirth: </b></label> {{employee.dateofbirth}}
  </div>  
  <div>
    <label><b>Nationality: </b></label> {{employee.nationality}}
  </div>  
  <div>
    <label><b>CountryOfBirth: </b></label> {{employee.countryOfBirth}}
  </div>  
  <div>
    <label><b>StateOfBirth: </b></label> {{employee.stateOfBirth}}
  </div>  
  <div>
    <label><b>Citizen: </b></label> {{employee.citizen}}
  </div> 
  <div>
    <label><b>Gender: </b></label> {{employee.gender}}
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>
