  <table class="table">
  <thead class="thead-dark">
      <tr>
        <th scope="col">FIRSTNAME</th>
        <th scope="col">LASTNAME</th>
        <!-- <th scope="col">MaritalStatus</th> -->
        <!-- <th scope="col">MarriageDate</th> -->
        <th scope="col">DATEOFBIRTH</th>
        <!-- <th scope="col">Nationality</th> -->
        <!-- <th scope="col">COUNTRYOFBIRTH</th> -->
        <!-- <th scope="col">STATEOFBIRTH</th> -->
        <th scope="col">CITIZEN</th>
        <th scope="col">GENDER</th>
        <th scope="col">STATUS</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>

<br>
    <tbody>
      <tr *ngFor="let employee of employees | async">
        <!-- <th scope="row">1</th> -->
        <td>{{employee.employeeCode}}</td>
        <td>{{employee.firstname}}</td>
        <td>{{employee.lastName}}</td>
        <!-- <td>{{employee.maritalStatus}}</td> -->
        <!-- <td>{{employee.marriageDate}}</td> -->
        <td>{{employee.dob}}</td>
        <!-- <td>{{employee.nationality}}</td> -->
        <!-- <td>{{employee.countryofbirth}}</td> -->
        <!-- <td>{{employee.stateofbirth}}</td> -->
        <!-- <td>{{employee.citizen}}</td> -->
        <td>{{employee.genderType}}</td>
        <!-- <td>{{employee.status}}</td> -->
        <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger"><i class="material-icons">
          delete_forever
          </i>
          
          </button>
          <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px"><i class="material-icons">
            edit
            </i></button>
          <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px"><i class="material-icons">
            rate_review
            </i>
           </button>
      </td>
      </tr>
    </tbody>
  </table>
  