
<h2> View Employee Communication Details</h2> 
<div>
  <label><b>Employee code:</b></label> {{employeecommunication. employeeCode}}
</div>

  <div>
    <label><b>communication code:</b></label> {{employeecommunication. code}}
  </div>
  <div>
    <label><b>company emailid:</b></label> {{employeecommunication.companyEmailId}}
  </div>
  <div>
    <label><b>personal emailid: </b></label> {{employeecommunication.personalEmailId}}
  </div>
  <div>
    <label><b>client emailid: </b></label> {{employeecommunication.clientEmailId}}
  </div>  
  <div>
    <label><b> Emergency contact number: </b></label> {{employeecommunication.emergencyComunicationNumber}}
  </div> 
  <div>
    <label><b>begin date: </b></label> {{employeecommunication.beginDate}}
  </div>  
  <div>
    <label><b>end date: </b></label> {{employeecommunication. endDate}}
  </div>  

